.tags-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.tag-category {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.tabs {
  font-size: 16px;
  padding: 5px 16px;
}
